// --------------------------------------------------------------------------
// Justin Webb
// --------------------------------------------------------------------------

// Import overridden Bootstrap variables BEFORE their definition in the vendor files
@import "library/variables";
@import "library/mixins";


// Add core Bootstrap styles. Comment and uncomment functionality inside 'bootstrap.scss' as required to keep 'main.css'
// as small as possible.
@import "font-awesome";
@import "bootstrap";

// Styles shared between custom components
@import "snippets/bs-forms";

// Skins may exist in several locations throughout the application.  They may override existing Bootstrap
// directives or represent styles for custom application modules
@import "skins/manifest.gen";

// Sections code includes page-specific and layout-related styles
.header {
  font-size: 22px;
  font-family: 'Roboto';
  color: $brand-background;
  text-align: center;
  background-color: $brand-primary;

  //Testing setting as fixed top
  position: fixed;
  width: 100%;
  height: 30px;
  z-index: 5;
}

.push {
  margin-top: 30px;
}

.navBar {
  // @include make-xs-column(12);
  // @include make-xs-column-offset(0);
  // @include make-md-column(4);
  // @include make-md-column-offset(2);
  // @include make-lg-column(4);
  // @include make-lg-column-offset(4);
  position: fixed;
}

